$TTL 604800
@   IN  SOA arq.pedro.barbosa.devops. admin.pedro.barbosa.devops. (
        2024010101
        604800
        86400
        2419200
        604800 )

@       IN  NS  arq.pedro.barbosa.devops.
@       IN  A   192.168.56.20
arq     IN  A   192.168.56.20
db      IN  A   192.168.56.21
app     IN  A   192.168.56.22
